
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    
    font-size: 55px;
}
h2{
    font-size: 40px;
}
.h{
    color: rgb(247, 155, 36);
}
h3{
    color:rgb(197, 143, 41);
}
.flxible-container{
    display: flex;
    margin-bottom: 150PX;
}
section p{
    text-align: justify;
}
.half-width{
    width: 50%;
    padding-left:2%;
}
.half-width img{
    width: 90%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(hotpink,rgb(102, 11, 26) ,rgb(138, 96, 19));
    color: #FFF;
    padding: 6px 20px;
    border-radius: 10px;
}
.drim-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:  right;
}
.full-stack{
   margin-left: 50px;
   margin-right: 50px;
    width: 50%;
    padding: 20px;
    box-shadow:3px 10px 40px gray;
    border-left: 5px solid orange;
    box-sizing: border-box;
}
.exprence-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: -18px 61px ;
}
