
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    
    font-size: 55px;
}
.h{
    color: rgb(247, 155, 36);
}
.name{
    color:rgb(197, 143, 41);
}
section{
    display: flex;
}
section p{
    text-align: justify;
}
.half-width{
    width: 50%;
    padding-left:5%;
}
.half-width img{
    width: 90%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(hotpink,rgb(102, 11, 26) ,rgb(138, 96, 19));
    color: #FFF;
    padding: 6px 20px;
    border-radius: 10px;
}